/* Custom scrollbar using theme colors */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--b1));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--b3));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--p) / 0.5);
}
